# download ufora
beautifulsoup4~=4.9.3
dacite
PyQt6~=6.1.0
selenium~=3.141.0
# postprocessing
unoconv

#downloading
m3u8
retry

cli @ git+https://github.com/quintenroets/cli
downloader @ git+https://github.com/quintenroets/downloader
gui @ git+https://github.com/quintenroets/gui
libs @ git+https://github.com/quintenroets/libs
superpathlib @ git+https://github.com/quintenroets/superpathlib
